
body {
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

/* Hero */
.hero {
    height: 100vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0,0,0,0.7)
    ),
    url('https://images.unsplash.com/photo-1515879218367-8466d910aaa4');
    background-size: cover;
    background-position: center;
    color: white;
}


section {
    padding: 80px 0;
}


.card {
    transition: 0.3s ease;
    border: none;
}

.card:hover {
    transform: translateY(-8px);
}


.navbar-brand {
    letter-spacing: 1px;
}


footer {
    background: #111;
    color: white;
}


.btn-primary {
    padding: 10px 25px;
}